header.main-header{
    background: #460054;
}

.main-navigation ul li a{
    color: #FFF;
}

.contact-link a{
    color: #FFF;
}

.phone p{
    color: #FFF;
}

.logo{
    position: relative;
}
.logo img{
    position: absolute;
    top:-34px;
}

.product-details-content h2{
    line-height: 1.5;

}
.caption-wrap{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.slider-height-6{
    height:auto!important
}

.new{
    background: #FECE08;
}

.quick-view{
    display: none;
}

.add-to-link{
    display: none;
}

.header_account_list{
    display: none;
}

.main-navigation {
    display: flex!important;
    justify-content: center;
    float: none!important;
    flex-direction: column;
    align-items: center;
}

.shop-btn{
    background: #FECE08;
    color: #292725;
    border-radius: 4px;
}

.description-review-topbar.nav a.active:after{
    background: #6B3776;
}


.pro-details-cart a{
    background: #FECE08;
    color: #292725;
    border-radius: 4px;
}


.name_categories h3{
    color: #FFF;
    font-size: 1.3rem;
}

.best-sell-slider .img-block img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

body{
    background: #F7F7FA;
}

.brand-area{
    display: none;
}

.sticky-nav.menu_fixed{
    background: #460054;
}

#scrollUp{
    background: #FECE08;
}

.list-product .img-block{
    text-align: center;
}

.shop-bottom-area img {
    max-width: auto;
    height: 200px;
}

.pro-pagination-style{
    padding: 40px 0;
}

a.thumbnail{
    text-align: center;
}

.second-img{
    display: none!important;
}
.rel{
    position: relative;
}
.text--top{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50% ;
    text-align: center;
    transform: translateY(-50%);
}

/* banner-inner.jpg */

.breadcrumb-area{
    background-position: center;
    background-size: contain;
    background-image: url(../images/banner-inner.jpg);
}

.contact-form .contact-form-style button{
    color: #292725;
    border-radius: 7px;
}

/* call.png */

.phone:before{
    background-image: url(../images/call.png);
}